@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap');

@import url('animations.css');
@import url('crt-color-glow.css');
@import url('scanlines.css');

html {
	font-family: 'VT323', monospace;

	font-size: 16px;
	font-weight: 500;

	min-height: fit-content;

	background-color: #191a19;
	cursor: crosshair;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	margin: 0;

	max-width: 37rem;

	min-height: fit-content;
	max-height: fit-content;
}

.box-green-glow nav,
.box-green-glow a,
.box-green-glow section,
.box-green-glow input,
.box-green-glow textarea,
.box-green-glow button {
	box-shadow: 0 0 4px #1aff80;

	border: 3px;
	border-style: solid;
	border-color: #1aff80;

	background-color: #191a19;
}

section {
	display: flex;
	flex-direction: column;

	font-size: 100%;

	margin: 0.5rem;
	align-items: center;
}

#myname {
	font-family: 'Source Code Pro', monospace;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	text-align: left;
}

#myname h1 {
	font-size: clamp(2.50rem, -0.40rem + 17.3vw, 6.40rem);
}

nav {
	display: flex;
	justify-content: space-evenly;


	margin: 0.5rem;
}

nav a {
	color: inherit;
	font-weight: 700;
	text-decoration: none;
	margin: 0.5rem;
	padding: 0.5rem;
}

h1 {
	filter: url(#bloom);
	text-align: center;
	margin: 0.5rem;
}

p {
	text-align: justify;
	max-width: 33rem;
	margin: 0 2rem 0.5rem 2rem;
}

label {
	text-align: right;
}

form {
	display: flex;
}

button {
	font-family: 'VT323', monospace;
	font-size: 1.5rem;
	font-weight: 700;
	cursor: pointer;
}

.contact-form > .form-fields {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 0fr 3fr;
	grid-template-rows: 0fr 0fr 1fr;
	align-items: center;
	margin: 0.5rem;
	justify-items: stretch;
}

.contact-form > .form-buttons {
	display: grid;
	gap: 0.5rem;
	margin: 0.5rem;
}
